library ieee;
    use ieee.std_logic_1164.all;
    use ieee.numeric_std.all;

library olo;

entity {{entity_name}} is
    port (
        A_Clk     : in    std_logic;
        A_Addr    : in    std_logic_vector(8 downto 0);
        A_Be      : in    std_logic_vector(1 downto 0);
        A_WrEna   : in    std_logic;
        A_WrData  : in    std_logic_vector(15 downto 0);
        A_RdData  : out   std_logic_vector(15 downto 0);
        B_Clk     : in    std_logic;
        B_Addr    : in    std_logic_vector(8 downto 0);
        B_Be      : in    std_logic_vector(1 downto 0);
        B_WrEna   : in    std_logic;
        B_WrData  : in    std_logic_vector(15 downto 0);
        B_RdData  : out   std_logic_vector(15 downto 0)
    );
end entity;

architecture rtl of {{entity_name}} is
begin

    i_ram : entity olo.olo_base_ram_tdp
{{generics}}
        port map (
            A_Clk     => A_Clk,
            A_Addr    => A_Addr,
            A_Be      => A_Be,
            A_WrEna   => A_WrEna,
            A_WrData  => A_WrData,
            A_RdData  => A_RdData,
            B_Clk     => B_Clk,
            B_Addr    => B_Addr,
            B_Be      => B_Be,
            B_WrEna   => B_WrEna,
            B_WrData  => B_WrData,
            B_RdData  => B_RdData
        );
end;