library ieee;
    use ieee.std_logic_1164.all;
    use ieee.numeric_std.all;

library olo;

entity {{entity_name}} is
    port (
        Clk         : in    std_logic;
        Wr_Addr     : in    std_logic_vector(8 downto 0);
        Wr_Ena      : in    std_logic                                  := '1';
        Wr_Data     : in    std_logic_vector(15 downto 0);
	    Wr_Be		: in    std_logic_vector(1 downto 0);
        Rd_Addr     : in    std_logic_vector(8 downto 0);
        Rd_Ena      : in    std_logic                                  := '1';
        Rd_Data     : out   std_logic_vector(15 downto 0)
    );
end entity;

architecture rtl of {{entity_name}} is
begin

    i_ram : entity olo.olo_base_ram_sdp
{{generics}}
        port map (
            Clk         => Clk,
            Wr_Addr     => Wr_Addr,
		    Wr_Be		=> Wr_Be,
            Wr_Ena      => Wr_Ena,
            Wr_Data     => Wr_Data,
			Rd_Clk      => Clk,
            Rd_Addr     => Rd_Addr,
            Rd_Ena      => Rd_Ena,
            Rd_Data     => Rd_Data
        );
		  
--	i_ram : entity olo.olo_base_ram_tdp
--    generic map (
--        Depth_g         => 512,
--        Width_g         => 16,
      --  InitString_g    => "0x1234, 0x5678, 0xDEAD, 0xBEEF",
      --  InitFormat_g    => "NONE",
--		  UseByteEnable_g => false
--    )                                                     -- "RBW" = read-before-write, "WBR" = write-before-read
--    port map (
--        A_Clk     => Clk,
--        A_Addr    => Wr_Addr,
--        A_Be      => Wr_Be,
--        A_WrEna   => Wr_Ena,
 --       A_WrData  => Wr_Data,
  --      B_Clk     => Clk,
--        B_Addr    => Rd_Addr,
--        B_RdData  => Rd_Data
--    );

end;