
IO_LOC "Led[3]" 61;
IO_PORT "Led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Led[2]" 60;
IO_PORT "Led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Led[1]" 57;
IO_PORT "Led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Led[0]" 47;
IO_PORT "Led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Switches[3]" 80;
IO_PORT "Switches[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Switches[2]" 79;
IO_PORT "Switches[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Switches[1]" 69;
IO_PORT "Switches[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Switches[0]" 68;
IO_PORT "Switches[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Buttons[1]" 43;
IO_PORT "Buttons[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Buttons[0]" 44;
IO_PORT "Buttons[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Clk" 6;
IO_PORT "Clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
