------------------------------------------------------------------------------
-- Libraries
------------------------------------------------------------------------------
library ieee;
	use ieee.std_logic_1164.all;
	use ieee.numeric_std.all;
	
library {{olo_library}};
	use {{olo_library}}.olo_base_pkg_array.all;
    use {{olo_library}}.en_cl_fix_pkg.all;
	
------------------------------------------------------------------------------
-- Package Declaration
------------------------------------------------------------------------------
package {{pkg_name}} is
    -- Constants
    {% for constant in constants %}
    {{constant}}
    {% endfor %}

    -- Vectors
    {% for vector in vectors %}
    {{vector}}
    {% endfor %}
end package;

------------------------------------------------------------------------------
-- Package Body
------------------------------------------------------------------------------
package body {{pkg_name}} is 

end {{pkg_name}};

