name: analyze-issues
run-name: ${{ github.actor }} is Analyzing Issues
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'
  
jobs:
  analyze-issues:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.10'
          cache: 'pip'
      - run: pip install -r ./.github/workflows/requirements.txt
      - name: Analyze Issues
        env:
          TEST_SECRET: ${{ secrets.TEST_SECRET }}
          ISSUES_TOKEN: ${{ secrets.ISSUES_TOKEN }}
          GCS_PASSPHRASE: ${{ secrets.GCS_PASSPHRASE }}
        run: |
         source ./.github/workflows/install_gcs_key.sh
         source ./.github/workflows/analyze_issues.sh
         echo "Issues updated"
